.reviews-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 15px;
  border-radius: 4px;
  padding: 20px 10px;
  box-shadow: 0px 4px 20px 0px #00000040;
}

@media(min-width: 1200px) {
    .reviews-container {
        gap: 20px;
        padding: 10px 20px 35px 20px;
      }
      
}