$theme-colors: (
  'primary': #525252,
  'secondary': #6c6c6c,
  'tertiary': #ffc700,
  'fontPrimary': #ffffff,
  'fontSecondary': #000000,
);

$body-bg: #525252;
$body-color: #ffffff;

@import '~bootstrap/scss/bootstrap.scss';
