.movies-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.title-container {
  padding-bottom: 50px;
}

.title-container h2 {
  font-size: 24px;
  font-weight: 700;
}

.movies-list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.movies-list-container a {
  font-size: 18px;
  font-weight: 400;
}

@media (min-width: 1200px) {
  .movies-container {
    padding: 40px;
  }

  .title-container {
    padding-bottom: 40px;
  }

  .title-container h2 {
    font-size: 48px;
  }

  .movies-list-container {
    gap: 30px;
  }

  .movies-list-container a {
    font-size: 24px;
  }
}
